header{
    color: white;
    background-color: rgb(30, 30, 30);
    opacity: 0.95;
    
    height: 70px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    
    padding: 0 20px;
}

title{
    display: none;
}

/*
  Desktop View
  ======================
*/

@media only screen and (min-width:426px){
    header{

        margin-left: 155px;
    }

    title{
        display: block;
    }
    
}