*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(30, 30, 30);
    height: 36px;
    padding: 10px 30px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}





/*
  Desktop View
  ======================
*/

@media only screen and (min-width:426px){
    body{

        padding: 90px 85px 30px;
        
    }
}