/*
  Phone View
  ======================
*/
    
@media only screen and (max-width:425px) {
      


  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(30, 30, 30);;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
      background-color: #df9753;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      padding: 8px 20px;
    }

    .sidenav a:active{
      opacity: 0.8;
  }

  span{
    font-size:30px;cursor:pointer
  }

}


/*
  Desktop View
  ======================
*/

@media only screen and (min-width:426px){
  span{
    display:none ;
  }

  .sidenav .closebtn{
    display: none;
  }

  .sidenav {

    display: flex;
    flex-direction: row;

    width: 100%;
    position: fixed;
   
    padding-left: 20px;

    top: 0;
    left: 0;
    background-color: rgb(30, 30, 30);;

    
  }

  .sidenav a {
    display: flex;
    justify-content: center;
    align-items: center;

   
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.15s;
    margin: 0 20px;
    padding: 20px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: #df9753;
  }

}